// COLORS

$slate-300: hsl(212, 45%, 89%);
$slate-500: hsl(216, 15%, 48%);
$slate-900: hsl(218, 44%, 22%);

$color-white: #ffffff;

$space-100: 0.625rem; // 10px
$space-200: 1rem; //16px
$space-250: 1.25rem; // 20px
$space-300: 1.5rem; // 24px
$space-500: 2.5rem; // 40px
