@use '../utils/variables' as *;

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4;
  font-style: normal;
  color: $slate-500;
}

.heading {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.375rem;
  color: $slate-900;
}
